<mat-toolbar color="primary">
  <a routerLink="/"
  mat-icon-button class="hovereffect" aria-label="Example icon-button with menu icon">
    <mat-icon>menu_book</mat-icon>
  </a>
  <span>Examportal</span>
  <span class="example-spacer"></span>
  <a routerLink="login"mat-icon-button class="hovereffect" aria-label="Example icon-button with heart icon">
    Login
  </a>
  <a routerLink="signup" mat-icon-button class=" mr20 ml20 hovereffect" aria-label="Example icon-button with share icon">
 
    Register
  </a>
</mat-toolbar>
