<mat-card>
    <h1>Profile Details</h1>
        <mat-card-content>
            <div class="bootstrap-wrapper">
                <div class="container-fuild">
                    <div class="container-fuilds">
                        <img src="../../../assets/default.png" alt="default profile image" class="profile-image"srcset="">
                    </div>
                    <div *ngIf="user!=null">
                      <h1 class="font-weight-bold">{{user.username}}</h1>
                      <div class="row">
                          <div class="col-md-10 text-center">
                            <table >
                              <tr>
                                <td class="bold">UserId</td>
                                <td>{{user.userId}}</td>
                              </tr>
                              <tr>
                                <td class="bold">Username</td>
                                <td>{{user.username}}</td>
                              </tr>
                              <tr>
                                <td class="bold">Phone</td>
                                <td>{{user.phone}}</td>
                              </tr>
                              <tr>
                                <td class="bold">Email</td>
                                <td>{{user.email}}</td>
                              </tr>
                              <tr>
                                <td class="bold">Role</td>
                                <td>{{user.authorities[0].authority}}</td>
                              </tr>
                              <tr>
                                <td class="bold">Active</td>
                                <td>{{user.enabled?"ACTIVE":"NOT ACTIVE"}}</td>
                              </tr>
                            </table>
                                
                          </div>
                      </div>
                    </div>
                    
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">UPDATE</button>
          <button mat-raised-button color="acent">SHARE</button>
        </mat-card-actions>
</mat-card>