/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.mt20{
    margin-top: 20px;
}
.positiontop{
    position: absolute;
    top: 120px;   
}
.h1size{   
    color: blue;
    font-size: 100px;
}
.mr20{
    margin-right: 20px !important;
}
.ml20{
    margin-left: 20px !important;
}
.hovereffect:hover{
    color: #ffffff !important;
}